.toggleButton {
  composes: button from 'Components/IconButton.css';

  padding: 0;
  font-size: inherit;
}

.disabledButton {
  composes: button from 'Components/IconButton.css';

  color: $disabledColor;
  cursor: not-allowed;
}
