@import 'Vendor/messenger.css';
@import 'Vendor/messenger.flat.css';

ul.messenger-theme-flat {
  background-color: #4f566f;
}
ul.messenger-theme-flat .messenger-message-slot .messenger-message,
ul.messenger-theme-flat .messenger-message-slot.messenger-first .messenger-message,
ul.messenger-theme-flat .messenger-message-slot.messenger-last .messenger-message,
ul.messenger-theme-flat .messenger-message-slot.messenger-first.messenger-last .messenger-message {
  box-shadow: inset 48px 0 0 #3a3f51;
}
ul.messenger-theme-flat .messenger-message .messenger-actions a {
  background-color: #4f566f;
  color: #f0f0f0;
}
ul.messenger-theme-flat .messenger-message .messenger-actions a:hover {
  background-color: #4f566f;
  color: #aaa;
}
