.toolbarButton {
  composes: link from 'Components/Link.css';

  width: 60px;
  text-align: center;
  line-height: 60px;

  &:hover {
    color: $toobarButtonHoverColor;
  }
}

.icon {
  vertical-align: middle;
}
