.sidebar {
  flex: 0 0 $sidebarWidth;
  overflow-y: auto;
  width: $sidebarWidth;
  background-color: $sidebarBackgroundColor;
  color: $white;

  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

@media only screen and (max-device-width: $breakpointSmall) {
  .sidebar {
    position: absolute;
    top: 60px;
    bottom: 0;
    z-index: 1;
  }

  .sidebarHidden {
    transform: translateX(-$sidebarWidth);
  }
}

@keyframes slide-in {
  100% {
    transform: translateX(-$sidebarWidth);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(-$sidebarWidth);
  }

  100% {
    transform: translateX(0);
  }
}
