.item {
  border-left: 3px solid transparent;
  color: $sidebarColor;
  transition: border-left-color 0.4s ease;
}

.isActiveItem {
  border-left-color: $themeBlue;
}

.link {
  display: block;
  padding: 12px 24px;
  color: $sidebarColor;

  &:hover,
  &:focus {
    color: $themeBlue;
    text-decoration: none;
  }
}

.childLink {
  composes: link;

  padding: 10px 24px;
}

.isActiveLink {
  color: $themeBlue;
}

.isActiveParentLink {
  background-color: $sidebarActiveBackgroundColor;
}

.iconContainer {
  display: inline-block;
  width: 25px;
}

.noIcon {
  margin-left: 25px;
}
